{% extends "footer_header.html" %}

{% block css %}
<link rel = 'stylesheet' href = '/static/css/recipe.css'>
<script type='text/javascript' src='/static/js/recipe.js'></script>
{% endblock %}

{% block content %}

<div id = 'recipe-page-wrapper'>
  <div id='recipe-content'>
    <div id = 'recipe-name'>
      <input id='recipe-name-i' value='{{ recipe.name|default:"Untitled Recipe" }}' placeholder='Recipe Name' type='text'/>
      <div>Serves: <input type='number' id='recipe-serving-size' value='{{ recipe.serving_size|default:"1" }}' placeholder='Serving Size'/> person(s)</div>
    </div>

    <div id='recipe-info'>

      <!--
    (  ____ )(  ____ \(  ____ \\__   __/(  ____ )(  ____ \
    | (    )|| (    \/| (    \/   ) (   | (    )|| (    \/
    | (____)|| (__    | |         | |   | (____)|| (__
    |     __)|  __)   | |         | |   |  _____)|  __)
    | (\ (   | (      | |         | |   | (      | (
    | ) \ \__| (____/\| (____/\___) (___| )      | (____/\
    |/   \__/(_______/(_______/\_______/|/       (_______/

    (  ____ \(  ____ \( \      (  ____ \(  ____ \\__   __/
    | (    \/| (    \/| (      | (    \/| (    \/   ) (
    | (_____ | (__    | |      | (__    | |         | |
    (_____  )|  __)   | |      |  __)   | |         | |
          ) || (      | |      | (      | |         | |
    /\____) || (____/\| (____/\| (____/\| (____/\   | |
    \_______)(_______/(_______/(_______/(_______/   )_(
       -->

      <div id = 'recipe-selection'>
        <div id='type-tabs'>
          <!-- Type tab for all -->
          <div class = 'type-tab'>
            <div class = 'type-tab-text' id = 'type-tab-text-all'>
              <a href="#" class="tab-link" id="all" onclick="change_search('All');">All</a>
            </div>

            <div class = 'type-tab-img' id = "{{type|lower}}-img"></div>
          </div>


          <!-- Type tab for others -->
          {% for type in type_list %}
          <div class = 'type-tab'>
            <div class = 'type-tab-text' id = 'type-tab-text-{{type|lower}}'>
              <a href="#" class="tab-link" id='{{type|lower}}'onclick="change_search('{{type|lower}}');">{{ type }}</a>
            </div>
            <div class = 'type-tab-img' id = "{{type|lower}}-img"></div>

          </div>
          {% endfor %}
        </div>
        <div id = 'recipe-add' class = 'selected'>
          <div class='simple-search-bar'>
            <input id='ingredient-search' type='text' onkeyup="perform_search()" onpaste="perform_search()" placeholder="Search"/>
          </div>
          <input id='recipe-id-unique' type='hidden' value='{{ recipe.id }}'/>
          <div class = 'all-ingredients'>
            <div class='ingredient-list' id='ingredient-list'></div>
          </div>
        </div>
        <div class='added-ingredients' id='recipe-list'>
          This is where the ingredients your recipe consists of go.
          {% for ingredient in ingredient_list %}
          <div class='ingredient-line' id='ingredient_line_{{ ingredient.ingredient_id }}'>
            {{ ingredient.name }}<input type='number' size='5' id='ingredient_line_{{ ingredient.ingredient_id }}_number' value={{ingredient.qty }} /> <select class='ingredient-select' id='ingredient_line_{{ ingredient.ingredient_id }}_select'>
            {% for ss in ingredient.servingsize %}
            <option value='{{ ss.name }}'
            {% if ss.name == ingredient.unit %} selected='selected' {% endif %}>{{ ss.name }}</option>
            {% endfor %}
          </select>
          </div>
        {% endfor %}
        </div>
    </div>

    <div id = 'recipe-instructions-and-descriptions'>
      <textarea id='recipe-description' rows='10' cols='50' value='{{ recipe.description }}' placeholder='Description'>{{ recipe.description }}</textarea>
      <textarea id='recipe-instructions' rows='10' cols='50' value='{{ recipe.instructions }}' placeholder='Instructions'>{{ recipe.instructions }}</textarea>
    </div>

    <div id = 'recipe-summary'></div>
  </div>
</div>
<div>

<button onclick='save_recipe();' id='save-recipe'>Save</button>
<button onclick='check_nutrients();' id='check-nutr'>Nutrients</button>
<button onclick='nextContent();' id='next'>Next</button>
<button onclick='previousContent();' id='prev'>prev</button>
</div>
{% endblock %}