{% extends "footer_header.html" %}

{% block css %}
<link rel = 'stylesheet' href = '/static/css/recipe.css'>
<script type='text/javascript' src='/static/js/recipe.js'></script>
{% endblock %}

{% block content %}

<div id = 'recipe-page-wrapper'>
  <div id='recipe-content'>
    <div id = 'recipe-name'>
      <input id='recipe-name-i' value='{{ recipe.name|default:"Untitled Recipe" }}' placeholder='Recipe Name' type='text'/>
      <div id = 'recipe-serve'>Serves: <input type='number' id='recipe-serving-size' value='{{ recipe.servings|default:"1" }}'/> person(s)</div>
    </div>

    <div id='recipe-info' class = 'selected'>
      <!-- RECIPE SELECT -->
      <div id = 'recipe-selection'>
        <div class = 'recipe-selection-line'>
          <div class = 'recipe-selection-filter'> Filter
          </div>
          <div class = 'simple-search-bar'>
            <input id='ingredient-search' type='text' onkeyup="perform_search()" onpaste="perform_search()" placeholder="Search"/>
          </div>
        </div>
        <div class = 'recipe-selection-line'>
          <div id='type-tabs'>
            <!-- Type tab for all -->
            <div class = 'type-tab'>
              <div class = 'type-tab-text' id = 'type-tab-text-all'>
                <a href="#" class="tab-link" id="all">All</a>
              </div>
              <div class = 'type-tab-bgimg' onclick="change_search('All');">
                <div class = 'type-tab-background' id = 'all-background'></div>
                <div class = 'type-tab-img' id = "all-img"></div>
              </div>
            </div>


            <!-- Type tab for others -->
            {% for type in type_list %}
            <div class = 'type-tab'>
              <div class = 'type-tab-text' id = 'type-tab-text-{{ type.1 }}'>
                <a href="#" class="tab-link" id='{{ type.1 }}'>{{ type.0 }}</a>
              </div>
              <div class = 'type-tab-bgimg' onclick="change_search('{{ type.1 }}');">
                <div class = 'type-tab-background' id = '{{ type.1 }}-background'></div>
                <div class = 'type-tab-img' id = "{{ type.1 }}-img"></div>
              </div>
            </div>
            {% endfor %}
          </div>
          <div id = 'recipe-add'>
            <input id='recipe-id-unique' type='hidden' value='{{ recipe.id }}'/>
            <div class = 'all-ingredients'>
              <div class='ingredient-list' id='ingredient-list'>
              </div>
            </div>
          </div>
        </div>
        <div class = 'recipe-selection-line'>
        </div>
      </div>
      <div class='added-ingredients' id='recipe-list'>
        <div class = 'ingredients-title'>
          Ingredients
        </div>
        {% for ingredient in ingredient_list %}
        <div class='ingredient-line' id='ingredient_line_{{ ingredient.ingredient_id }}'>
        <div class='ingredient-name'>
          {{ ingredient.name }}</div><div class='ingredient-input-div'><input type='number' size='5' id='ingredient_line_{{ ingredient.ingredient_id }}_number' value={{ingredient.qty }} /></div><div class='ingredient-select-div'>
          <select class='ingredient-select' id='ingredient_line_{{ ingredient.ingredient_id }}_select'>
            {% for ss in ingredient.servingsize %}
            <option value='{{ ss.name }}'
            {% if ss.name == ingredient.unit %} selected='selected' {% endif %}>{{ ss.name }}</option>
            {% endfor %}
          </select>
          </div>
      </div>
        {% endfor %}
      </div>
      <div id='nutritional-info'>
        <div id = 'nutritional-title'> Nutrition Facts
        </div>
        <div id = 'nutritional-facts'>
          <div class='nutritional-column'>
            <div class='nutritional-grid' id='calories'><div>Calories: </div><div class='nutritional-num' id='calories-num'>0.0</div><div class='prog-bar orange'><span style="width: 0%;"></span></div></div>
            <div class='nutritional-grid' id='carbohydrates'><div>Carbohydrates: </div><div class='nutritional-num' id='carbohydrates-num'>0.0</div><div class='prog-bar orange'><span style="width: 0%;"></span></div></div>
            <div class='nutritional-grid' id='protein'><div>Protein </div><div class='nutritional-num' id='protein-num'>0.0</div><div class='prog-bar green'><span style="width: 0%;"></span></div></div>
            <div class='nutritional-grid' id='cholesterol'><div>Cholesterol: </div><div class='nutritional-num' id='cholesterol-num'>0.0</div><div class='prog-bar orange'><span style="width: 0%;"></span></div></div>
            <div class='nutritional-grid' id='fiber'><div>Fiber: </div><div class='nutritional-num' id='fiber-num'>0.0</div><div class='prog-bar green'><span style="width: 0%;"></span></div></div>
          </div>
          <div class='nutritional-column'>
            <div class='nutritional-grid' id='total-fat'><div>Total Fat: </div><div class='nutritional-num' id='total-fat-num'>0.0</div><div class='prog-bar red'><span style="width: 0%;"></span></div></div>
            <div class='nutritional-grid' id='saturated'><div>Saturated: </div><div class='nutritional-num' id='saturated-num'>0.0</div><div class='prog-bar red'><span style="width: 0%;"></span></div></div>
            <div class='nutritional-grid' id='monounsaturated'><div>Monounsaturated: </div><div class='nutritional-num' id='monounsaturated-num'>0.0</div><div class='prog-bar green'><span style="width: 0%;"></span></div></div>
            <div class='nutritional-grid' id='polyunsaturated'><div>Polyunsaturated: </div><div class='nutritional-num' id='polyunsaturated-num'>0.0</div><div class='prog-bar green'><span style="width: 0%;"></span></div></div>
            <div class='nutritional-grid' id='trans'><div>Trans: </div><div class='nutritional-num' id='trans-num'>0.0</div><div class='prog-bar red'><span style="width: 0%;"></span></div></div>
          </div>
          <div class='nutritional-column'>
            <div class='nutritional-grid' id='vita'><div>Vitamin A: </div><div class='nutritional-num' id='vita-num'>0.0</div><div class='prog-bar green'><span style="width: 0%;"></span></div></div>
            <div class='nutritional-grid' id='vitb6'><div>Vitamin B6: </div><div class='nutritional-num' id='vitb6-num'>0.0</div><div class='prog-bar green'><span style="width: 0%;"></span></div></div>
            <div class='nutritional-grid' id='vitb12'><div>Vitamin B12: </div><div class='nutritional-num' id='vitb12-num'>0.0</div><div class='prog-bar green'><span style="width: 0%;"></span></div></div>
            <div class='nutritional-grid' id='vitc'><div>Vitamin C: </div><div class='nutritional-num' id='vitc-num'>0.0</div><div class='prog-bar green'><span style="width: 0%;"></span></div></div>
            <div class='nutritional-grid' id='vitd'><div>Vitamin D: </div><div class='nutritional-num' id='vitd-num'>0.0</div><div class='prog-bar green'><span style="width: 0%;"></span></div></div>
          </div>
          <div class='nutritional-column'>
            <div class='nutritional-grid' id='potassium'><div>Potassium: </div><div class='nutritional-num' id='potassium-num'>0.0</div><div class='prog-bar green'><span style="width: 0%;"></span></div></div>
            <div class='nutritional-grid' id='iron'><div>Iron: </div><div class='nutritional-num' id='iron-num'>0.0</div><div class='prog-bar green'><span style="width: 0%;"></span></div></div>
            <div class='nutritional-grid' id='sodium'><div>Sodium: </div><div class='nutritional-num' id='sodium-num'>0.0</div><div class='prog-bar orange'><span style="width: 0%;"></span></div></div>
            <div class='nutritional-grid' id='magnesium'><div>Magnesium: </div><div class='nutritional-num' id='magnesium-num'>0.0</div><div class='prog-bar green'><span style="width: 0%;"></span></div></div>
            <div class='nutritional-grid' id='calcium'><div>Calcium: </div><div class='nutritional-num' id='calcium-num'>0.0</div><div class='prog-bar green'><span style="width: 0%;"></span></div></div>
          </div>
        </div>
      </div>
    </div>
    <div id = 'recipe-instructions-and-descriptions'>
      <textarea id='recipe-description' rows='10' cols='50' value='{{ recipe.description }}' placeholder='Description'>{{ recipe.description }}</textarea>
      <textarea id='recipe-instructions' rows='10' cols='50' value='{{ recipe.instructions }}' placeholder='Instructions'>{{ recipe.instructions }}</textarea>
      <input type='checkbox' id='recipe-public'>Make public?</input>
      <textarea id='recipe-suggestions' rows='10' cols='50' value='{{ recipe.suggestions }}' placeholder='Dietary suggestions'>{{ recipe.suggestions }}</textarea>
    </div>
  </div>
</div>
<div id = 'recipe-next-prev'>
  <div onclick='previousContent();' class='prev' id='recipe-prev'><i class="fa fa-chevron-left"></i></div><div onclick='nextContent();' class='next clickable' id='recipe-next'><i class="fa fa-chevron-right"></i></div>
</div>
<div>
  <div onclick='save_recipe();' id='save-recipe'><i class="fa fa-floppy-o"></i></div>
</div>
{% endblock %}