{% load dajaxice_templatetags %}
{% load staticfiles %}

<html>
  <head>
    <title>FoodBook</title>
    <meta charset = 'utf-8' />
    <link rel = 'stylesheet' href = '/static/css/main.css'>
    {% block css %}
    {% endblock %}
    <link href='http://fonts.googleapis.com/css?family=Exo+2' rel='stylesheet' type='text/css'>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="{% static "dajax/jquery.dajax.core.js" %}" type='text/javascript'></script>
    <script src="{% static "dajaxice/dajaxice.core.js" %}" type='text/javascript'></script>
  </head>
  <body>
    <!-- Navbar -->
    <nav id = 'header' class = ''>
      <div id = 'header-logo'></div>
      <div id = 'header-search'>
        <input type='text'/>
        <div class = 'search-icon'></div>
      </div>
      <div class = 'header-content header-recipe'><a href="/recipes"></a></div>
      <div class = 'header-content header-data'></div>
      <div class = 'header-content header-login' onclick = 'toggleLoginVisibility()'></div>
      <div class = 'login'>
        {% if not user.is_authenticated %}
        <form method = 'post' action = '/home'>
          {% csrf_token %}
        {% for field in LOGIN_FORM %}
        <div class='login-field'>
            {{ field.errors }}
            {{ field }}
        </div>
        {% endfor %}
        <input type='submit', value='Login'/>
        </form>
         <button id = 'register' value="Register" type="button" onclick="location.href = '/register'">Register</button>
        {% else %}
        <div id='text'>
          You are currently logged in as {{ user.username }}. <br/>
            <form method = 'post' action='/logout'>
            {% csrf_token %}
            <input type='submit', value='Logout'>
          </form>
        </div>
        {% endif %}
      </div>

    </nav>

    {% block content %}
    {% endblock %}
  <div id = 'footer'> <div id = 'footer-content'> Foodbook was created by Genghis Chau, Kevin Peng, and Rene Zhang. &#xA9 2014.</div></div>
  </body>
  <script src = '/static/js/main.js'></script>

</html>