<html>
  <head>
    <title>FoodBook</title>
    <meta charset = 'utf-8' />
    <link rel = 'stylesheet' href = '/static/css/main.css'>
  </head>
  <body>
    <!-- Navbar -->
    <nav id = 'main-navbar' class = ''>
      <div class = 'login-icon' onclick = 'toggleLoginVisibility()'></div>
      <div class = 'login'>
        {% if not_logged_in %}
        <form method = 'post' action = '/home'>
          {% csrf_token %}
        {% for field in form %}
        <div class='login-field'>
            {{ field.errors }}
            {{ field }}
        </div>
        {% endfor %}
        <input type='submit', value='Login'/>
        </form>
        {% else %}
        <div id='text'>
          You are currently logged in as {{ user.username }}. <br/>
            <form method = 'post' action='/logout'>
            {% csrf_token %}
            <input type='submit', value='Logout'>
          </form>
        </div>
        {% endif %}
      </div>
      <div class = 'testpart'>
        {% if message %}
        {{ message }}
        {% else %}
        There is nothing on this page.
        {% endif %}
      </div>
    </nav>

   <div class = 'foodbook-symbol'> </div>
   <div id = 'nav-button' onclick = 'toggleToolbar()'></div>

    {% block content %}
    {% endblock %}
  </body>
  <script src = '/static/js/main.js'></script>

</html>