{% extends "footer_header.html" %}
{% block content %}
    <div class = 'top-half'>
    </div>
    <div class = 'bottom-half'>
      <div class = 'main-content'>
        Eating healthy can be difficult, especially if you have a special diet. When cooking your own meals, knowing what exactly you are eating is important. With Foodbook, we make your life easier by providing a tool to manage your nutrition. Create recipes, share them on the web, and find new recipes, all personalized to your own dietary needs.
        </div>
      <div id = 'start-button' onclick='button_redirect()'>Get started!</div>
    </div>


{% endblock %}