<html>
  <head>
  	<title>FoodBook</title>
  	<meta charset = 'utf-8' />
  	<link rel = 'stylesheet' href = 'static/css/main.css'>
  </head>
  <body>
  	<!-- Navbar -->
  	<nav class = 'header'>
 	   	<ul>
  			<li class = 'foodbook-symbol'> FoodBook </li>
	   	</ul>
      <div class = 'login-icon' onclick = 'toggleLoginVisibility()'></div>
      <div class = 'login'>
        {% if not_logged_in %}
        <form method = 'post' action = '/home'>
          {% csrf_token %}
        {% for field in form %}
        <div class='login-field'>
            {{ field.errors }}
            {{ field }}
        </div>
        {% endfor %}
        <input type='submit', value='Login'/>
        </form>
        {% else %}
        <div id='text'>
          You are currently logged in as {{ user.username }}. <br/>
            <form method = 'post' action='/logout'>
            {% csrf_token %}
            <input type='submit', value='Logout'>
        </div>
        {% endif %}
      </div>
      {% if ingredient %}
      <div class = 'ingredient'>
      	{% for key, value in ingredient.items %}
        {{ key }}: {{ value }} <br/>
        {% endfor %}
      </div>
      {% else %}
      <div class = '404'>
      	There is no ingredient with that name in the ingredient database.
      {% endif %}
    </nav>
  </body>
  <script src = 'static/js/main.js'></script>

</html>
