<html>
  <head>
  	<title>FoodBook</title>
  	<meta charset = "utf-8" />
  	<link rel = "stylesheet" href = "static/main.css">
  </head>
  <body>
  	<!-- Navbar -->
  	<nav class = 'header'>
 	   	<ul>
  			<li class = 'foodbook-symbol'> FoodBook </li>
	   	</ul>
      <div class = 'register'>
        <form method = 'post' action = '/register'>
          {% csrf_token %}
    {% for field in form %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
        </div>
    {% endfor %}
          <input type="submit", value="Register"/>
        </form>
      </div>
      <div class = 'testpart'>
        {{ message }}
      </div>

    </nav>
  </body>
</html>
