{% extends "footer_header.html" %}

{% block content %} 
<br/><br/><br/>
<div class='simple-search-bar'>
<input id='ingredient-search' type='text' onkeyup="Dajaxice.ingredient.update(Dajax.process, {'search':$('#ingredient-search').val()})" onpaste="Dajaxice.ingredient.update(Dajax.process, {'search':$('#ingredient-search').val()})"/>
	<input type="button" value="Search" onclick="Dajaxice.ingredient.update(Dajax.process, {'search':$('#ingredient-search').val()})"/>
</div>
<div class='simple-list' id='ingredient-list'>
	{% for ingredient in ingredient_list %}
		<a href='/ingredients/{{ ingredient.name }}'>{{ ingredient.name }}</a> <br/>
	{% empty %}
		There were no ingredients that matched your search. <br/>
	{% endfor %}
	{% if search %}
	<br/><a href='/ingredients'> Back to full list </a>
	{% endif %}
</div>
{% endblock %}