{% extends "footer_header.html" %}

{% block css %}
<link rel = 'stylesheet' type = 'text/css' href = '/static/css/profile.css'>
<script src = '/static/js/profile.js'></script>
{% endblock %}

{% block content %}
	<div id = 'profile-body'>
		<div id = 'profile-content-background'>
      <div id = 'profile-content'>
  			<div id = 'profile-image-container'>
  				<div id = 'profile-image' class ='user-icon'></div>
  			</div>
  		  <div id = 'profile-info'>
  			  <div id = 'profile-name'> Rene Zhang </div>
          <div id = 'profile-location'> New York City </div>
          <div id = 'profile-email'> rz99@cornell.edu </div>
  		  </div><div id = 'profile-achievements'>
  				<div id = 'profile-recipes'>
            <div id = 'profile-recipes-count'>0</div>
            <div id = 'profile-recipes-img'></div>
            <div id = 'profile-recipes-text'>RECIPES</div>
          </div><div id = 'profile-reputation'>
            <div id = 'profile-reputation-count'>0</div>
            <div id = 'profile-reputation-img'>&#10004;</div>
            <div id = 'profile-reputation-text'>REPUTATION</div>
          </div>
        </div>
      </div>
      <div id = 'profile-half-circle'></div>
		</div>
    <div id = 'profile-tabs-container'>
      <div id = 'profile-tabs'>
        <div class = 'profile-tab'><i id = 'comments-icon' class = 'fa fa-comment'></i></div><div class = 'profile-tab' id = 'recipes-icon'></div><div class = 'profile-tab'><i class = 'fa fa-list-ul' id = 'recent-activity-icon'></i></div>
      </div>
    </div>
    <div id = 'profile-content-container'>
      <div id = 'profile-comments-container'>
        <div id = 'post-container'>
          <div id = 'post-box'></div>
          <div id = 'post-button'></div>
        </div>
        <div id = 'recent-posts'>
          <div id = 'no-recent-posts' class = 'profile-hidden'></div>
          <div class = 'recent-post'>
            <div class = 'post-content'> Wow! Nenenene!</div>
            <div class = 'post-author'>
              <div class = 'post-author-icon'> </div>
              <div class = 'post-author-title'>gchau94</div>
            </div>
          </div>
          <div class = 'recent-post'>
            <div class = 'post-content'> Wow! Nenenene!</div>
            <div class = 'post-author'>
              <div class = 'post-author-icon'> </div>
              <div class = 'post-author-title'>gchau94</div>
            </div>
          </div>
        </div>
      </div>
    </div>
	</div>
  <script>
    window.onresize = function(event) {
      resizeProfileContent();
    }
  </script>

	<!-- TODO: EDIT THIS LATER FOR A NICER INTERFACE -->
	<form enctype='multipart/form-data' name='prof_pic' action='/user' method='post'>
		{% csrf_token %}
		{{ form.as_p }}
	<button type='submit' value='Submit'>SUBMIT THIS</button>
	</form>

{% endblock %}