{% extends "footer_header.html" %}
{% block content %}
  <!-- TODO: Move this to somewhere else more appropriate later -->
  <link rel = 'stylesheet' type = 'text/css' href = '/static/css/profile.css'>
  <script src = '/static/js/profile.js'></script>
	<div id = 'profile-body'>
		<div id = 'profile-content-background'>
      <div id = 'profile-content'>
  			<div id = 'profile-image-container'>
  				<div id = 'profile-image' class ='user-icon'></div>
  			</div>
  		  <div id = 'profile-info'>
  			  <div id = 'profile-name'> Rene Zhang </div>
          <div id = 'profile-location'> New York City </div>
          <div id = 'profile-email'> rz99@cornell.edu </div>
  		  </div>
  			<div id = 'profile-achievements'>
  				<div id = 'profile-reputation'><span>REPUTATION</span></div>
  				<div id = 'profile-awards'><span>AWARDS</span></div>
  			</div>
      </div>
      <div id = 'profile-half-circle'></div>
		</div>
    <div id = 'profile-tabs-container'>
      <div id = 'profile-tabs'>
        <div class = 'profile-tab'></div>
        <div class = 'profile-tab'></div>
        <div class = 'profile-tab'></div>
        <div class = 'profile-tab'></div>
      </div>
    </div>
	</div>
  <script>
    window.onresize = function(event) {
      resizeProfileContent();
    }
  </script>

	<!-- TODO: EDIT THIS LATER FOR A NICER INTERFACE -->
	<form enctype='multipart/form-data' name='prof_pic' action='/user' method='post'>
		{% csrf_token %}
		{{ form.as_p }}
	<button type='submit' value='Submit'>SUBMIT THIS</button>
	</form>

{% endblock %}