{% extends "footer_header.html" %}

{% block css %}
<link rel = 'stylesheet' type = 'text/css' href = '/static/css/profile.css'>
{% endblock %}

{% block content %}
	<div id = 'profile-body'>
    <input id='username' type='hidden' value='{{ username }}'/>
		<div id = 'profile-content-background'>
      <div id = 'profile-content'>
  			<div id = 'profile-image-container'>
  				<div id = 'profile-image' class ='user-icon'>
          <img id='profile-image-img' src='{{ profile_picture }}'></img>
          {% if is_me %}
          <form enctype='multipart/form-data' id='profile-pic-form' name='prof_pic' action='/user' method='post'>
          {% csrf_token %}
          <input id="id_image" name="image" type="file" />
          </form>
          {% endif %}
          </div>
          {% if is_me %}
          <div id = 'profile-image-edit'>
            <i class = 'fa fa-pencil'></i> <div id = 'profile-image-edit-text'>&nbsp;Edit</div>
          </div>
          {% endif %}
  			</div>
  		  <div id = 'profile-info'>
  			  <div id = 'profile-name'> Rene Zhang </div>
          <div id = 'profile-location'> New York City </div>
          <div id = 'profile-email'> rz99@cornell.edu </div>
  		  </div><div id = 'profile-achievements'>
  				<div id = 'profile-recipes'>
            <div id = 'profile-recipes-count'>0</div>
            <div id = 'profile-recipes-img'></div>
            <div id = 'profile-recipes-text'>Recipes</div>
          </div><div id = 'profile-reputation'>
            <div id = 'profile-reputation-count'>0</div>
            <div id = 'profile-reputation-img'>&#10004;</div>
            <div id = 'profile-reputation-text'>Reputation</div>
          </div>
        </div>
      </div>
      <div id = 'profile-half-circle'></div>
		</div>
    <div id = 'profile-tabs-container'>
      <div id = 'profile-tabs'>
        <div class = 'profile-tab'><i id = 'comments-icon' class = 'fa fa-comment'></i></div><div class = 'profile-tab' id = 'recipes-icon'></div>
      </div>
    </div>
    <div id = 'profile-content-container'>
      <div id = 'profile-comments-container'>
        <div id = 'post-container'>
          <textarea id='comment-box' placeholder='Post something!'></textarea>
          <div id = 'post-button' onclick='add_comment()'>Post</div>
        </div>
        <div id = 'recent-posts'>
          <div id = 'no-recent-posts' class = 'profile-hidden'></div>
          Loading posts...
        </div>
      </div>
    </div>
	</div>

{% endblock %}

{% block js %}
<script src = '/static/js/profile.js'></script>
{% endblock %}