{% extends "footer_header.html" %}

{% block css %}
<link rel = 'stylesheet' href = '/static/css/view.css'>
<script src = '/static/js/view.js'></script>
{% endblock %}

{% block content %}

<div id='personal-recipe-list'>
	<div class = 'section-title my-recipes-title'>View Recipes</div>
  <div id = 'vr-tabs'>
    <div class = 'half-section-title clicked' id = 'vr-view-all' onclick = 'viewAll();'>View All</div><div class = 'half-section-title' id = 'vr-view-mine' onclick = 'viewMine();'>View Mine</div>
  </div>
  <div id = 'vr-all' class = 'selected'>
    <div id = 'vr-lookup'>
      <div id = 'vr-search'>
        <input type='text' id='vr-search-input' placeholder='Search'/>
        <div class = 'search-icon'></div>
      </div>
      <div id = 'vr-advanced-parameters'>
        <div id = 'vr-adv-param-title-box'><div id = 'vr-adv-param-title'>Advanced Parameters:</div></div>
        <div id = 'vr-adv-param-content'>
          Calories: <input id='adv-calories' type='number'/><br/>
          Protein: <input id='adv-protein' type='number'/><br/>
          Fat: <input id='adv-fat' type='number'/><br/>
          Carbohydrates: <input id='adv-carbs' type='number'/>
              <div id ='diet-selection-box'>
      <div id = 'diet-checkbox' onclick = 'toggleCheckbox()'>
        <div id = 'diet-checkmark' class = ''>&#10004;</div>
      </div>
      <div id = 'diet-selection-text'>Hide recipes that are out of my diet.</div>
    </div>
        </div>
      </div>
    </div>
    <div id = 'vr-table'>
      <div id = 'vr-table-header'>
        <div id = 'vr-table-recipe-label' class = 'vr-table-label'>Recipe</div>
      </div>
      <div id = 'vr-table-columns'>
      </div>
      <div class = 'vr-table-content' id='public-recipe-list-container'>
      </div>
    </div>
  </div>
  <div id = 'vr-mine'>
      <div id = 'vr-table'>
      <div id = 'vr-table-header'>
        <div id = 'vr-table-recipe-label' class = 'vr-table-label'>Recipe (Click on the name to edit it.)</div>
      </div>
      <div id = 'vr-table-columns'>
      </div>
      <div class = 'vr-table-content' id='recipe-list-container'>
      </div>
    </div>
  </div>
</div>
{% endblock %}