.section-title {
  font-family: Raleway;
  font-weight: 700;
  border-radius:3px;
}

#personal-recipe-list {
  width: 1000px;
  margin: 40px auto 60px auto;
  background-color: #ffffff;
  border: 1px solid #c6c6c6;
  position: relative;
}

.my-recipes-title {
  background-color: #C34C4C;
  padding: 10px 0 10px 0;
  text-align: center;
}

#vr-tabs {
  width: 1000px;
}

#vr-all {
  display: none;
  height: 900px;
}

#vr-all.selected {
  display: block;
}

#vr-mine {
  display: none;
  height: 900px;
}

#vr-mine hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #c6c6c6;
  width: 90%;
}

#vr-mine.selected {
  display: block;
}

#vr-view-all {
  padding: 5px 0 5px 0;
  text-align: center;
  cursor: pointer;
  border-bottom: 1px solid #c6c6c6;
  border-right: 1px solid #c6c6c6;
}

#vr-view-mine {
  padding: 5px 0 5px 0;
  text-align: center;
  cursor: pointer;
  border-bottom: 1px solid #c6c6c6;
  border-right: 1px solid #c6c6c6;
}

#vr-lookup {
  margin: 30px auto 0 auto;
  width: 900px;
  position: relative;
}

#vr-search {
  position: relative;
  width: 100%;
  height: 40px;
}

#vr-search-input {
  color: black;
  height: 40px;
  font-size: 18px;
  line-height: 24px;
  position: absolute;
  padding-left: 40px;
  border: none;
  outline: none;
  font-family: Roboto, 'sans-serif';
  font-weight: 300;
  background-color: #F1F1F1;
  width: 100%;
}

#vr-search .search-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 20px;
  width: 20px;
  border: 1px solid black;
  background: url('/static/img/glyphicons_free/glyphicons/png/glyphicons_027_search.png') no-repeat 0px 0px;
  background-size: 20px 20px;
  border: none;
  opacity: 0.3;
}

#vr-advanced-parameters {
  border: 1px solid #c6c6c6;
  height: 200px;
  margin-bottom: 50px;
}

#diet-selection-box {
  width: 500px;
  margin: 10px auto 10px auto;
}

#diet-checkbox {
  width: 20px;
  height: 20px;
  margin: 5px;
  border: 1px solid black;
  display: inline-block;
  vertical-align: middle;
}

#diet-selection-text {
  display: inline-block;
  vertical-align: middle;
  font-size: 26px;
  line-height: 30px;
}

.recipe-list {
  border: 1px solid #c6c6c6;
  height: 260px;
  width: 50%;
  margin-left: 5%;
  margin-top: 20px;
}

.recipe-add-button {
	position: absolute;
	width: 80px;
	height: 40px;
	border: 1px solid green;
	background-color: lightgreen;
	right: 10px;
	bottom: 10px;
	font-size: 23px;
	line-height: 40px;
	text-align: center;
}

#vr-table {
  width: 900px;
  margin: 40px auto 40px auto;
  height: 500px;
  border: 1px solid #B2C7F0;
  position: relative;
}

#vr-table-header {
  border-bottom: 1px solid #C6C6C6;
  height: 34px;
  position: relative;
}

#vr-table-recipe-label {
  width: 885px;
}

.vr-table-label {
  color: black;
  height: 34px;
  display: inline-block;
  line-height: 34px;
  font-family: Roboto;
  font-size: 16px;
  text-align: left;
  padding-left: 15px;
  position: relative;
  background-color: #B2C7F0;
}

#vr-table-made-label {
  width: 155px;
}

#vr-table-votes-label {
  width: 100px;
}

.vr-table-content {
  height: 30px;
}

.vr-table-recipe-content {
  height: 100%;
  width: 599px;
  display: inline-block;
  position: relative;
}

.vr-table-votes-content {
  height: 100%;
  width: 99px;
  display: inline-block;
  position: relative;
}

.vr-table-made-content {
  width: 100px;
  display: inline-block;
  position: relative;
}

#vr-table-columns {
  position: absolute;
  top: 60px;
  height: 440px;
}

#diet-checkbox {
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}

#diet-checkmark {
  display: none;
  position: absolute;
  color: green;
  font-size: 50px;
  left: -4px;
  bottom: 1px;
}

#diet-checkmark.enabled {
  display: block;
}

#vr-adv-param-title-box {
  height: 40px;
  font-size: 26px;
  line-height: 40px;
  width: 100%;
  font-family: Roboto;
}

#vr-adv-param-title {
  padding-left: 10px;
}

#vr-adv-param-content {
  padding-left: 10px;
  padding-top: 10px;
  font-family: Roboto;
}

#vr-adv-param-content input {
  font-family: Roboto;
  border: 1px solid #c6c6c6;
  text-align: right;
}

#vr-adv-param-content input[type=number]::-webkit-inner-spin-button,
#vr-adv-param-contnet input[type=number]::-webkit-outer-spin-button{
  -webkit-appearance: none;
  margin: 0;
}

.public-recipe-line {
  padding: 5px 0 0 10px;
}

.public-recipe-line.bad {
  background-color: #FDC9C9;
}

.public-recipe-line hr {
  margin-left: -10px;
}

#vr-view-all {
  width: 499px;
}

#vr-view-mine {
  width: 499px;
}