.recipe-content {
	position:absolute;
	top: 150px;
	left: 150px;
	width = 1000px;
}

.type-tab {
	position: absolute;
	top: 30px;
	left: 0px;
	width: 150px;
}

div .simple-search-bar {
	position: absolute;
	top: 0px;
	left: 150px;
}

.ingredient-list {
	position: absolute;
	top: 30px;
	left: 150px;
	width: 600px;

}

#recipe-list {
	position: absolute;
	top: 30px;
	left: 750px;
	width: 600px;
}