body {
  /*font-family: ;*/
  /*font: */
  line-height: 20px;
  display: block;
  color: #000000;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* Header (Navigation bar) code */
nav {
  position: absolute;
  margin-top: -150px;
  margin-bottom: 0;
	width: 100%;
  background-color: #000000;
  height: 150px;
  z-index: 12;
}

nav.navbar-open {
  margin-top: 0;
  -webkit-transition: margin-top 500ms ease;
  transition: margin-top 500ms ease;
}

nav.navbar-closed {
  margin-top: -150px;
  -webkit-transition: margin-top 500ms ease;
  transition: margin-top 500ms ease;
}

.foodbook-symbol {
  /* TODO: insert image */
  position: absolute;
  top: 0px;
  left: 15px;
  width: 70px;
  height: 70px;
  background-color: yellow;
  -webkit-box-shadow: 0px 3px 4px #888888;
  box-shadow: 0px 3px 4px #888888;
  z-index: 100;
}

nav .login-icon {
  position: absolute;
  right: 10px;
  top: 10px;
  /*margin: 10px 10px 0 10px;*/
  width: 80px;
  height: 80px;
	background-color: #0022FF;
	-webkit-border-radius: 50px;
  -moz-border-radius: 50px;
	border-radius: 50px;
  display: inline-block;
}

nav .login {
	position: absolute;
  background-color: yellow;
  height: 100px;
	right: 0px;
  top: 50px;
	bottom: 0;
	padding: 0;
  visibility: hidden;
}

nav .login.visible{
  visibility: visible;
}

nav > .login > form > input {
  display: block;
  position: absolute;
  padding: 5px;
  border: none;
  border-radius: 5px;
  right: 0;
}

nav .login-field {
  display: block;
}

nav .login-field input {
  padding: 5px;
  border: 1px solid black;
  border-radius: 10px;
  -webkit-box-shadow: 0;
  outline: none;
}

nav .ingredient-database {
  position: absolute;
  left: 150px;
  top: 15px;
}

.top-half {
  background-color: blue;
  width: 100%;
  height: 50%;
}

.bottom-half {
  width: 100%;
  height: 50%;
  background-color: green;
}

#nav-button {
  position: absolute;
  width: 70px;
  height: 70px;
  right: 25px;
  -webkit-box-shadow: 0px 3px 4px #888888;
  box-shadow: 0px 3px 4px #888888;
  background-color: yellow;
  /* Insert image here*/
  -webkit-transition: margin-top 500ms ease;
  transition: margin-top 500ms ease;
  z-index: 100;
}

#nav-button.navbar-open {
  margin-top: 150px;
  -webkit-transition: margin-top 500ms ease;
  transition: margin-top 500ms ease;
}

#dim-overlay {
  position: absolute;
  background-color: #000000;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  z-index: 2;
}

#dim-overlay.navbar-closed {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 500ms ease;
  transition: opacity 500ms ease;
}

#dim-overlay.navbar-open {
  opacity: 0.5;
  visibility: visible;
  -webkit-transition: opacity 500ms ease;
  transition: opacity 500ms ease;
}