#profile-body {
  background-color: #F1F1F1;
  width: 1200px;
  margin: 60px auto 0 auto;
  border: 1px solid #C6C6C6;
}

#profile-content-background {
  position: relative;
  height: 200px;
  background-color: #FFFFFF;
}

#profile-content {
  height: 200px;
  border-bottom: 1px solid #C6C6C6;
}

#profile-image {
  position: relative;
  top: 5px;
  left: 5px;
  width: 150px;
  height: 150px;
  background-color: #DDDDDD;
  background-size: 150px 150px;
  border: 1px solid black;
}

#profile-image-container {
  vertical-align: top;
  display: inline-block;
  position: relative;
  top: 20px;
  left: 20px;
  margin-right: 50px;
  height: 160px;
}

#profile-info {
  position: relative;
  display: inline-block;
  width: 300px;
  height: 150px;
  padding: 25px 40px 25px 40px;
  vertical-align: top;
}

#profile-info * {
  line-height: 50px;
  font-size: 32px;
}

#profile-achievements {
  display: inline-block;
  position: relative;
  font-size: 30px;
  line-height: 30px;
  vertical-align: top;
}

#profile-achievements * {
  width: 200px;
}

#profile-reputation {
  vertical-align: top;
  height: 100%;
  width: 302px;
  display: inline-block;
  position: relative;
}

#profile-reputation div {
  text-align: center;
  width: 100%;
  bottom: 25px;
  position: absolute;
  height: 20px;
}

#profile-recipes {
  vertical-align: top;
  height: 100%;
  width: 312px;
  display: inline-block;
  position: relative;
}

#profile-recipes div {
  text-align: center;
  width: 100%;
  bottom: 25px;
  position: absolute;
  height: 20px;
}

/* Total width right now: ~1020px for content*/

#profile-tabs-container {
  /*margin: 0px 0 10px 0;*/
  width: 100%;
}

#profile-tabs{
  width: 307px;
  height: 100px;
  margin: 0 auto 0 auto;
}

.profile-tab {
  position: relative;
  padding: 0;
  margin: 0;
  border: 1px solid black;
  display: inline-block;
  width: 100px;
  height: 100px;
}

#profile-content-container {
  width: 100%;
  position: relative;
}

#profile-comments-container {
  margin-top: 20px;
  margin-left: 10%;
  width: 80%;
  position: relative;
}

#post-container {
  position: relative;
  height: 210px;
}

#post-box {
  height: 150px;
  border: 1px solid #C6C6C6;
}

#post-button {
  position: absolute;
  height: 40px;
  right: 0;
  border: 1px solid #C6C6C6;
  width: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#recent-posts {
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
}

#no-recent-posts {

}

.recent-post {
  height: 150px;
  border: 1px solid #C6C6C6;
  position: relative;
}

.post-content {
  position: relative;
  top: 20px;
  left: 20px;
}

.post-author {
  position: absolute;
  bottom: 10px;
  right: 20px;
  height: 30px;
}

.post-author-title {
  font-size: 18px;
  line-height: 30px;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
}

.post-author-icon {
  vertical-align: middle;
  width: 26px;
  height: 26px;
  border: 1px solid #C6C6C6;
  display: inline-block;
}