#profile-body {
  background-color: #F1F1F1;
  width: 1200px;
  margin: 60px auto 0 auto;
  border: 1px solid #C6C6C6;
}

#profile-content-background {
  position: relative;
  height: 200px;
  background-color: #FFFFFF;
}

#profile-content {
  height: 200px;
  border-bottom: 1px solid #C6C6C6;
}

#profile-image {
  position: relative;
  top: 5px;
  left: 5px;
  width: 150px;
  height: 150px;
  background-color: #DDDDDD;
  background-size: 150px 150px;
  border: 1px solid black;
}

#profile-image-container {
  vertical-align: top;
  display: inline-block;
  position: relative;
  top: 20px;
  left: 20px;
  margin-right: 50px;
  height: 160px;
}

#profile-info {
  position: relative;
  display: inline-block;
  width: 300px;
  height: 150px;
  padding: 25px 40px 25px 40px;
  vertical-align: top;
}

#profile-info * {
  line-height: 50px;
  font-size: 32px;
}

#profile-achievements {
  display: inline-block;
  position: relative;
  font-size: 30px;
  line-height: 30px;
  vertical-align: top;
}

#profile-achievements * {
  width: 200px;
}

#profile-reputation {
  vertical-align: top;
  height: 100%;
  width: 302px;
  display: inline-block;
  position: relative;
}

#profile-reputation div {
  text-align: center;
  width: 100%;
  bottom: 25px;
  position: absolute;
  height: 20px;
}

#profile-recipes {
  vertical-align: top;
  height: 100%;
  width: 312px;
  display: inline-block;
  position: relative;
}

#profile-recipes div {
  text-align: center;
  width: 100%;
  bottom: 25px;
  position: absolute;
  height: 20px;
}

/* Total width right now: ~1020px for content*/

#profile-tabs-container {
  width: 100%;
}

#profile-tabs{
  width: 307px;
  height: 200px;
  margin: 0 auto 0 auto;
}

.profile-tab {
  position: relative;
  padding: 0;
  margin: 0;
  border: 1px solid black;
  display: inline-block;
  width: 100px;
  height: 100px;
}