.recipe-content {
  width: 80%;
}

.recipe-content a {
  text-decoration: none;
  color: #000000;
}

.type-tabs {
  vertical-align: top;
  display: inline-block;
  width: 150px;
}

.type-tab {
  padding: 5px 0 5px 0;
  text-align: center;
  border: 1px solid black;
}

.all-ingredients {
  display: inline-block;
  vertical-align: top;
  height: 1000px;
  overflow: scroll;
  width: 800px;
}

.simple-search-bar {
}

.ingredient-list {
}

#recipe-list {
}

#save-recipe {
}

#check-nutr {
}

#personal-recipe-list {}
