.recipe-content {
  width: 80%;
  margin-left: 10%;
  margin-top: 40px;
}

.recipe-content a {
  text-decoration: none;
  color: #000000;
}

.type-tabs {
  vertical-align: top;
  display: inline-block;
  width: 150px;
}

.type-tab {
  padding: 5px 0 5px 0;
  text-align: center;
  border: 1px solid black;
}

.all-ingredients {
  display: inline-block;
  vertical-align: top;
}

.simple-search-bar {
}

.ingredient-list {
  height: 500px;
  width: 800px;
  overflow: scroll;
}

.ingredient-list > * {
  padding: 2px 0 2px 0;
  margin: 4px 10px 4px 10px;
  background-color: #DDDDDD;
}

.ingredient-fruit {
}

.ingredient-meat {
}

.ingredient-grain {
}

.added-ingredients {
  display: inline-block;
}

