body {
	background-color: #f1f1f1;
}

#recipe-name {
  width: 400px;
  margin: 10px auto 10px auto;
  text-align: center;
}

#recipe-name div input[type=number] {
  background-color: #f1f1f1;
  text-align: center;
  width: 30px;
}

#recipe-name input[type=text] {
  display: block;
  text-align: center;
  font-size: 46px;
  font-family: Petrona;
  background-color: #f1f1f1;
  width: 400px;
}

.recipe-content {
  width: 80%;
  margin-left: 10%;
  margin-top: 0px;
  background-color: #ffffff;
}

.recipe-content a {
  text-decoration: none;
  color: #000000;
}

.type-tabs {
  vertical-align: top;
  display: inline-block;
  width: 150px;
}

.type-tab {
  padding: 5px 0 5px 0;
  text-align: center;
  border: 1px solid black;
}

.all-ingredients {
  display: inline-block;
  vertical-align: top;
}

.simple-search-bar {
}

.ingredient-list {
  height: 500px;
  width: 400px;
}

.ingredient-list > * {
  padding: 2px 10px 2px 10px;
  margin: 4px 10px 4px 10px;
  background-color: #DDDDDD;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.ingredient-fruit {
}

.ingredient-meat {
}

.ingredient-grain {
}

.added-ingredients {
  display: inline-block;
  width: 400px;
}

.ingredient-line .ingredient-input-div{
  display: inline-block;
}

.ingredient-line .ingredient-select-div {
  display: inline-block;
}

.ingredient-line .ingredient-name {
  display: inline-block;
}

#recipe-instructions-and-descriptions {
  border: 1px solid black;
  visibility: hidden;
  display: none;
}

#recipe-summary {
  border: 10px solid black;
  visibility: hidden;
  display: none;
}

#recipe-add {
  border: 1px solid #c6c6c6;
  visibility: hidden;
  display: none;
}

#recipe-add.selected {
  visibility: visible;
  display: block;
}

#recipe-summary.selected {
  visibility: visible;
  display: block;
}

#recipe-instructions-and-descriptions.selected {
  visibility: visible;
  display: block;
}

input {
	border: 1px solid transparent;
	font-size: 14px;
}

input:hover {
	border: 1px solid #c6c6c6;
  background-color: #ffffff;
}

select:hover {
	border: 1px solid #c6c6c6;
}

input:focus {
	background-color: #ffffff;
	border: 1px solid #c6c6c6;
	outline: none;
}

input[type=number] {
	width: 40px;
	text-align: right;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{
	-webkit-appearance: none;
	margin: 0;
}

select {
	-webkit-appearance: none;
	background-color: #fafafa;
	border: 1px solid transparent;
}