.section-title {
  display: block;
  text-align: center;
  font-size: 24px;
  font-family: Petrona;
  width: 100%;
  line-height: 40px;
  height: 40px;
  color: #FFFFFF;
  margin-bottom: 20px;
}

#diet-title {
  background-color: #3D8D3D;
}

#settings-title {
  background-color: #3D8D3D;
}

